{{extend 'layout.html'}}

<form action="" enctype="multipart/form-data" method="post">
    <input type="hidden"  name="_formname" value="formaHTML"/>
    <fieldset>
        <legend>
            Exportador de la base de datos final:
        </legend>
        <label for="nombre_archivo">Nombre del archivo (alfanumérico):</label>
        <input class="string" name="nombre_archivo" id="nombre_archivo" type="text" value=""/>
    </fieldset>
    <input type="submit" value="Enviar" class="btn" id="enviar"/>
</form>
